.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 5rem;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.maturityDate {
  font-size: 20px;
  color: #383b3b;
  margin-bottom: 10px;
  
}


.NewSearchBtn{
    margin-top: 2rem;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    background: black;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 120px; /* Set the width of the button */
    height: 20px;
}

.tableContainer {
    width: 75%;
    margin: 0 auto; /* Centers the table horizontally */
    margin-left:0;
    max-height: 350px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    
  }

  .note {
    background-color: rgb(229, 236, 130);
    border: 1px solid #e0e0e0;
    padding: 3px;
    border-radius: 2px;
    margin-top: 10px;
    width: 82%;
    margin-left: 0px;
    margin-right: auto;
  }
  
  .noteText {
    font-size: 15px;
    color: #333;
    text-align:left;
    
  }
  


.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #e3e3e3;
  }
  