.main {
  display: flex;
  height: 90vh;
  flex-direction: column;
  margin-top: 0;
  margin-left: 4rem;
  font-family: 'Poppins',sans-serif;
  background-repeat: no-repeat;
  background: url('../../../public/assets/piggy\ bank.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
  margin-bottom: 11.25em; /* Adjusted to use em */
}

.disclaimer {
  text-align: left;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
  margin-left: -0.3125em;
  padding: 0.5em;

}

.title {
  width: 60%;
  font-size: 3em; /* Adjusted to use em */
  font-weight: 400;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 80%;
}

.selectBank {
  max-width: 4.0625em; /* Adjusted to use em */
  height: 0.8em;
  font-size: 1.2em;
  padding: 1em 0 0 0;
  background: rgba(8, 8, 8, 0.4);
  border: none;
  border-radius: 0.5em;
}


.left {
  flex-basis:10%;
  flex-wrap: nowrap;
  min-width: 5%;
  max-width: 10%;
  height: 0.8em;
  font-size: 1rem; 
  padding: 1rem;
  border: 1px solid #000;
  border-color: grey;
  margin-top: 1.125em; 
  border-radius: 0.5em 0 0 0.5em;
  min-width: 20px;
}

.mid {
  flex-wrap: nowrap;
  max-width: 10%;
  height: 0.8em;
  font-size: 1rem; 
  padding: 1rem;
  border: 1px solid #000;
  border-color: grey;
  margin-top: 1.125em; 
  border-radius: 0;
  min-width: 20px;
}

.right {
  flex-wrap: nowrap;
  max-width: 10%;
  height: 0.8em;
  font-size: 1rem; 
  padding: 1rem;
  border: 1px solid #000;
  border-color: grey;
  margin-top: 1.125em; 
  border-radius: 0 0.5em 0.5em 0;
  margin-right:8%;
  min-width: 20px;
}

.flexmonth {
  flex-basis: 20%;
  flex-wrap: nowrap;
  flex-shrink: 0.2;
  margin-top: 0;
  max-width:10%; 
  min-width:20px;
  height: 1em;
  font-size: 1em;
  padding: 0.8em;
  background: white;
  border: 1px solid #000;
  border-color: grey;
  align-items: center;
  margin-top: 1.125em; 
  margin-right:2%;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

input {
  margin: 0;
  padding: 0;
}


.dropdown{
 
  display: flex;
  width:50%
}

.combined{
   
    display: flex;
    flex-direction:row;
    margin-top:1.253em;
    width:50%;
    height:5rem;
    justify-content: space-between;
    align-items: center;
    
}

.combined2{
    display:flex;
    flex-direction: row;
    margin-top: 0.2rem;
    width: 50%;
    justify-content:flex-start;
    align-items:center;
    position: relative;
}

.heading {
  flex-basis: 60%;
  font-size: 1.5em;
    flex-wrap: nowrap;
    min-width: 10%;
    max-width: 50%;
    background:black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right:6%;
    
   
}

.heading2{
  flex-basis: auto;
  flex-basis: 40%;
  background:black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin-right:10%;
  
 } 



.submitBtn>button {
    margin-top: 2rem;
    cursor: pointer;
    color: blue;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px ;
    border: none;
    background: white;
    border: 1px solid #000;
    border-radius: 4px;
    border-color: blue;
    margin-right: 15px;
}


.submitBtn>button:hover {
  margin-top: 2rem;
  cursor: pointer;
  color: white;
  background-color:rgb(11, 181, 248);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px ;
  border: none;
  border: 1px solid #000;
  border-radius: 4px;
  border-color:rgb(11, 181, 248);
  margin-right: 15px;
}

.whatWeDo {
  margin-left:5px;
  background-color:white;
  border-radius: 8px;
  max-width: 50%;
  margin-bottom:15px;
  opacity:80%;

}

.whatWeDo{
  font-size: 2rem;
  margin-bottom: 0.1rem;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   margin-top: 40px;
}



.whatWeDoContent {
    width: 50%;
    font-size: 1rem;
    line-height: 1;
    color: rgb(71, 67, 67);
    margin-bottom: 30px;
    margin-left:-8px;
    font-family: 'Poppins',sans-serif;
    background-color: white;
    padding: 1rem;
    line-height: 1.2;
    border-radius: 8px;
}



.description {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #555;
}


.note {
  width: 55%;
  font-size: 1rem;
  line-height: 1;
  color: black;
  margin-bottom: 30px;
  margin-left:-2px;
  font-family: Open Sans;
  background-color: rgb(250, 250, 139);
  padding: 5px;
  border: 1px solid #2b2424;
  border-radius: 8px;
  margin-top: 20px;
  }
  
  .noteText {
    font-size: 15px; 
    color: black; 
    text-align:left;
    font-family: 'Poppins',sans-serif;
    line-height: 1.2;
}
  

.infoIcon {
    cursor: pointer;
  }
  
  .tooltip{
    position:absolute;
    top:calc(100%+7px);
    left: 110%; 
    border: 1px solid #e0e0e0;
    transform: translateX(-50%);
    display: none; 
    padding: 4px 8px;
    background-color: white;
    color: #131010;
    font-size: 14px;
    font-family: Open sans;
    border-radius: 4px;
    width: 400px;
  }
  
  .combined2:hover .tooltip {
    display: block;
  }